# Caching
redis==3.4.1
pymemcache@git+git://github.com/pinterest/pymemcache.git@master#egg=pymemcache==3.1.0  # change to pymemcache 3.1.1 when released

# Utils
regex==2020.2.20
Unidecode==1.1.1
pygments==2.5.2
